# Import Libraries

In [1]:
import numpy as np
import pandas as pd

In [2]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [3]:
True_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
True_news['label'] = 0
Fake_news['label'] = 1

In [5]:
True_news

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [6]:
Fake_news

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [7]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [8]:
dataset1

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      0
21414  MINSK (Reuters) - In the shadow of disused Sov...      0
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      0

[21417 rows x 2 columns]

In [9]:
dataset2

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      1
1      House Intelligence Committee Chairman Devin Nu...      1
2      On Friday, it was revealed that former Milwauk...      1
3      On Christmas day, Donald Trump announced that ...      1
4      Pope Francis used his annual Christmas Day mes...      1
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[23481 rows x 2 columns]

In [10]:
dataset= pd.concat([dataset1, dataset2])

In [11]:
dataset

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      0
1      WASHINGTON (Reuters) - Transgender people will...      0
2      WASHINGTON (Reuters) - The special counsel inv...      0
3      WASHINGTON (Reuters) - Trump campaign adviser ...      0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      1
23477  21st Century Wire says It s a familiar theme. ...      1
23478  Patrick Henningsen  21st Century WireRemember ...      1
23479  21st Century Wire says Al Jazeera America will...      1
23480  21st Century Wire says As 21WIRE predicted in ...      1

[44898 rows x 2 columns]

In [12]:
dataset.shape

(44898, 2)

In [13]:
#Check for null values
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [14]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [15]:
dataset = dataset.sample(frac = 1)

In [16]:
dataset

                                                    text  label
16589  MAPUTO (Reuters) - Mozambique has fired its he...      0
2395   GRAPEVINE, Texas (Reuters) - U.S. immigration ...      0
23013  21st Century Wire says The legal battle is wag...      1
19397  PARIS/SEOUL (Reuters) - France s Winter Olympi...      0
8291   By now you have all heard that Republican cand...      1
...                                                  ...    ...
14749  MOGADISHU (Reuters) - The United States milita...      0
16191  BETHLEHEM, West Bank (Reuters) - Another Donal...      0
17071  TBILISI (Reuters) - Kakha Kaladze climbed to t...      0
3140   WASHINGTON (Reuters) - President Donald Trump ...      0
5971   WASHINGTON (Reuters) - President Donald Trump ...      0

[44898 rows x 2 columns]

In [17]:
pip install nltk

Requirement already satisfied: nltk in c:\progdata\anaconda\lib\site-packages (3.7)
Requirement already satisfied: joblib in c:\progdata\anaconda\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: click in c:\progdata\anaconda\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: tqdm in c:\progdata\anaconda\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\progdata\anaconda\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\progdata\anaconda\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

# NLP

In [18]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [19]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [20]:
ps = WordNetLemmatizer()

In [21]:
stopwords = stopwords.words('english')

In [22]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [23]:
def clean_row(row):
    row = row.lower()
    row = re.sub('[^a-zA-Z]',' ',row)
    
    token = row.split()
    
    news = [ps.lemmatize(word) for word in token if  not word in stopwords]
    
    cleanned_news = ' '.join(news)
    
    return cleanned_news

In [24]:
dataset['text']

16589    MAPUTO (Reuters) - Mozambique has fired its he...
2395     GRAPEVINE, Texas (Reuters) - U.S. immigration ...
23013    21st Century Wire says The legal battle is wag...
19397    PARIS/SEOUL (Reuters) - France s Winter Olympi...
8291     By now you have all heard that Republican cand...
                               ...
14749    MOGADISHU (Reuters) - The United States milita...
16191    BETHLEHEM, West Bank (Reuters) - Another Donal...
17071    TBILISI (Reuters) - Kakha Kaladze climbed to t...
3140     WASHINGTON (Reuters) - President Donald Trump ...
5971     WASHINGTON (Reuters) - President Donald Trump ...
Name: text, Length: 44898, dtype: object

In [26]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Administrator\AppData\Roaming\nltk_data...

True

In [27]:
dataset['text'] = dataset['text'].apply(lambda x: clean_row(x))

In [28]:
dataset['text']

16589    maputo reuters mozambique fired head intellige...
2395     grapevine texas reuters u immigration authorit...
23013    st century wire say legal battle waging presid...
19397    paris seoul reuters france winter olympics tea...
8291     heard republican candidate ted cruz absolutely...
                               ...
14749    mogadishu reuters united state military carrie...
16191    bethlehem west bank reuters another donald tru...
17071    tbilisi reuters kakha kaladze climbed top worl...
3140     washington reuters president donald trump pers...
5971     washington reuters president donald trump seek...
Name: text, Length: 44898, dtype: object

In [29]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [30]:
vectorizer = TfidfVectorizer(max_features = 50000, lowercase = False, ngram_range=(1, 2))

In [31]:
x = dataset.iloc[:35000, 0]
y = dataset.iloc[:35000, 1]

In [32]:
x.head()

16589    maputo reuters mozambique fired head intellige...
2395     grapevine texas reuters u immigration authorit...
23013    st century wire say legal battle waging presid...
19397    paris seoul reuters france winter olympics tea...
8291     heard republican candidate ted cruz absolutely...
Name: text, dtype: object

In [33]:
y

16589    0
2395     0
23013    1
19397    0
8291     1
        ..
17722    1
4146     0
313      0
577      0
15457    1
Name: label, Length: 35000, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
train_data, test_data, train_label, test_label = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [36]:
vec_train_data = vectorizer.fit_transform(train_data)

In [37]:
vec_train_data = vec_train_data.toarray()

In [38]:
vec_test_data= vectorizer.fit_transform(test_data)

In [39]:
vec_test_data = vec_test_data.toarray()

In [40]:
vec_train_data.shape, vec_test_data.shape

((28000, 50000), (7000, 50000))

In [41]:
vec_train_data

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [44]:
training_data =pd.DataFrame(vec_train_data, columns = vectorizer.get_feature_names_out())

In [46]:
testing_data = pd.DataFrame(vec_test_data, columns = vectorizer.get_feature_names_out())

In [47]:
training_data

,aa,aapl,aaron,ab,aba,aba aslani,ababa,aback,abad,abadi,...,zor,zor city,zor province,zucker,zuckerberg,zulia,zuma,zuo,zurich,zurich reuters
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Model

In [48]:
from sklearn.naive_bayes import MultinomialNB

In [49]:
Clf = MultinomialNB()

In [50]:
Clf.fit(training_data, train_label)

MultinomialNB()

In [51]:
y_pred = Clf.predict(testing_data)

In [52]:
test_label

13534    1
439      1
16880    0
3843     0
13456    1
        ..
3987     0
4042     1
17286    0
20008    1
21363    1
Name: label, Length: 7000, dtype: int64

In [53]:
y_pred

array([0, 1, 1, ..., 1, 1, 1], dtype=int64)

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(test_label, y_pred)

0.5532857142857143

In [56]:
y_pred_train = Clf.predict(training_data)

In [57]:
accuracy_score(train_label, y_pred_train)

0.9593928571428572

In [58]:
txt = 'The following statementsÂ were posted to the verified Twitter accounts of U.S. President Donald Trump, @realDonaldTrump and @POTUS.  The opinions expressed are his own.Â Reuters has not edited the statements or confirmed their accuracy.  @realDonaldTrump : - Vanity Fair, which looks like it is on its last legs, is bending over backwards in apologizing for the minor hit they took at Crooked H. Anna Wintour, who was all set to be Amb to Court of St Jamesâ€™s & a big fundraiser for CH, is beside herself in grief & begging for forgiveness! [1024 EST] -- Source link: (bit.ly/2jBh4LU) (bit.ly/2jpEXYR)'

In [59]:
news = clean_row(txt)

In [60]:
news

'following statement posted verified twitter account u president donald trump realdonaldtrump potus opinion expressed reuters edited statement confirmed accuracy realdonaldtrump vanity fair look like last leg bending backwards apologizing minor hit took crooked h anna wintour set amb court st james big fundraiser ch beside grief begging forgiveness est source link bit ly jbh lu bit ly jpexyr'

In [61]:
pred = Clf.predict(vectorizer.transform([news]).toarray())

C:\ProgData\Anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [62]:
pred

array([1], dtype=int64)

In [65]:
text = input('Enter News')

news = clean_row(str(txt))
pred = Clf.predict(vectorizer.transform([news]).toarray())

Enter Newsdonald trump wishes africa happy new year

C:\ProgData\Anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

In [66]:
if pred ==0:
    print('News is correct')
else:
    print('News is fake')

News is fake